#root .navbar {
  display: flex;
  justify-content: space-between;
}
#root .navbar-brand:hover {
  transform: scale(1.2);
  transition: 1s;
  color: #a88905;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
}
.dark-mode-toggle > button {
  color: #999;
}
.dark-mode-toggle > button:last-child {
  color: lightblue;
}
.dark-mode-toggle {
  display: flex;
}
.dark-mode-toggle > button {
  font-size: 1.2em;
  background: none;
  border: none;
  color: #ffe600;
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode-toggle > button:last-child {
  color: #666;
}
.dark-mode-toggle > button:focus {
  outline: none;
}

#root .btn-primary {
  margin-top: 2rem;
  margin-bottom: 2rem;
  float: right;
}

#root .join-room-form {
  padding-top: 1rem;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
}
body.dark-mode .dark-mode-toggle > button {
  color: #999;
}
body.dark-mode .dark-mode-toggle > button:last-child {
  color: lightblue;
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
input[type="checkbox"].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
input[type="checkbox"].dmcheck:checked + label {
  left: 30px;
}
input[type="checkbox"].dmcheck:focus-visible {
  outline: solid 2px white;
}
input[type="checkbox"].dmcheck + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #f6f6f6;
}

body.dark-mode .card {
  background-color: #333;
}

body.dark-mode .navbar-text {
  color: #fff;
}

body.dark-mode .navbar-brand {
  color: #fff;
}
